.flex-container{
 
border: 2px solid grey;
background-color: black;
height: 45vh;
display: flex;
flex-direction: row-reverse;
justify-content: center;
}

.flex-item{
 background-color: blue;
border:2px solid black;
margin: 12px;
width: 146px;
height: 146px;
}